<header>
    <a id="logo" href="/">
        <img src="/Icons/icons8-mobile-50.png">
        <h5>The Mobile Hour</h5>
    <ul>
        <li>
            <a href="/login">Admin Login</a>
        </li>
        <li><a>
            <img src="/Icons/icons8-search-50.png" alt="search">
        </a></li>
        <li><a>
            <img src="/Icons/icons8-shopping-bag-50.png" alt="shopping-bag">
        </a></li>
    </ul>
</header>