<div id="underHeaderBox">
    <div id="underHeader">
        <p>
            <a href="/manageProduct">Manage Product</a>
        </p>
        <p>
            <a href="/manageUsers">Manage Users</a>
        </p>
        <p>
            <a href="/changeLog">Change Log</a>
        </p>
        <p>
            <a>Sales Records</a>
        </p>

    </div>
</div>